<section class="section eventcards">
  <div class="container">
    <h2 class="visually-hidden">Events</h2>
    <ul class="eventcards__list list">
      <li class="eventcards__item js__animate">
        <a href="#" class="eventcards__link" id="Z7r9jZ1Ad4sxp">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
      <li class="eventcards__item">
        <a href="#" class="eventcards__link">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
      <li class="eventcards__item">
        <a href="#" class="eventcards__link">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
      <li class="eventcards__item">
        <a href="#" class="eventcards__link">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
      <li class="eventcards__item">
        <a href="#" class="eventcards__link">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
      <li class="eventcards__item">
        <a href="#" class="eventcards__link">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
      <li class="eventcards__item">
        <a href="#" class="eventcards__link">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
      <li class="eventcards__item">
        <a href="#" class="eventcards__link">
          <img
            class="eventcards__img"
            src="./images/rectangle4.jpg"
            alt="card"
            width="267px"
            height="337px"
          />
          <img
            class="eventcards__decoration"
            src="./images/svg/card-decoration.svg"
            alt="card-decoration1"
          />
          <div class="eventcards__content">
            <h3 class="eventcards__name">Eurovision 2021 finals!</h3>
            <p class="eventcards__date">2021-05-13</p>
            <a href="#" class="eventcards__location">
              <svg class="eventcards__location-icon" width="8" height="10">
                <use href="./images/svg/sprite.svg#ic_location"></use>
              </svg>
              Palace of Ukraine</a
            >
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
