    <div class="modal">
        <button class="close-button" data-modal-close>
            <svg class="modal__icon" width="30">
                <use href=""></use>                                                          
            </svg>
        </button>
        <img src="" alt="small-logo" class="modal__small-logo">
        <div class="modal__list">
            <div class="modal__card-poster"></div>
            <div class="modal__description">
                <ul>
                    <li class="modal__list-info">
                        <h2 class="modal__item-title">INFO</h2>
                        <p class="modal__item-text">Atlas Weekend is the largest music festival
                        in Ukraine.More than 200 artists will create
                        a proper music festival atmosphere on 10 stages</p>
                    </li>
                    <li class="modal__list-info">
                        <h2 class="modal__item-title">WHEN</h2>
                        <p class="modal__item-text">2021-06-09 <br>20:00 (Kyiv/Ukraine)</p>
                    </li>
                    <li class="modal__list-info">
                        <h2 class="modal__item-title">WHERE</h2>
                        <p class="modal__item-text">Kyiv, Ukraine<br>VDNH</p>
                    </li>
                    <li class="modal__list-info">
                        <h2 class="modal__item-title">WHO</h2>
                        <p class="modal__item-text">The Black Eyed Peas</p>
                    </li>
                    <li class="modal__list-info">
                        <h2 class="modal__item-title">PRICES</h2>
                        <ul>
                            <li>
                                <p class="modal__price-text">
                                    <span>
                                        <svg class="modal__icon-code" width="30">
                                            <use href="${symbolDevs}#icon-ticket1"></use>
                                        </svg>
                                    </span>
                                    Standart 300-500 UAH
                                </p>
                                <a class="modal__list-btn">BUY TICKETS</a>
                            </li>
                            <li>
                                <p class="modal__price-text">
                                    <span>
                                        <svg class="modal__icon-code" width="30">
                                            <use href="${symbolDevs}#icon-ticket1"></use>
                                        </svg>
                                    </span>
                                    VIP 1000-1500 UAH
                                </p>
                                <a class="modal__list-btn">BUY TICKETS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <button type="button" class="button moreinfo-button">MORE ABOUT THIS
            EVENTS</button>
    