<div class="backdrop js-modal-backdrop visually-hidden">
    <div class="modal">
        <button class="close-button" data-modal-close></button>
        <img src="./images/mw_small_pic.png" alt="small-pic" class="modal__small-pic">
        <div class="modal__list">
            <div class="modal__card-poster">
                <img src="./images/mw_big_pic.png" alt="big-pic" class="modal__big-pic">
            </div>
            <div class="modal__description">
                <ul>
                    <li class="modal__list-info">
                        <h3 class="modal__item-title">INFO</h3>
                        <p class="modal__item-text js-info">Atlas Weekend is the largest music festival
                        in Ukraine. More than 200 artists will create
                        a proper music festival atmosphere on 10 stages</p>
                    </li>
                    <li class="modal__list-info">
                        <h3 class="modal__item-title">WHEN</h3>
                        <p class="modal__item-text js-when"></p>
                    </li>
                    <li class="modal__list-info">
                        <h3 class="modal__item-title">WHERE</h3>
                        <p class="modal__item-text js-where"></p>
                        <p class="modal__item-text js-where-place"></p>
                    </li>
                    <li class="modal__list-info">
                        <h3 class="modal__item-title">WHO</h3>
                        <p class="modal__item-text js-who"></p>
                    </li>
                    <li class="modal__list-info">
                        <h3 class="modal__item-title">PRICES</h3>
                        <ul class="modal__price-list">
                            <li class="modal__price-item">
                                <p class="modal__item-text js-first-price">
                                        <svg class="modal__icon-code" width="30">
                                            <use href="./images/svg/sprite.svg#ic_ticket"></use>
                                        </svg>
                                    <span class="js-price-text">Standart 300-500 UAH</span>
                                </p>
                                <a class="modal__list-btn" href="#" target="_blanc">BUY TICKETS</a>
                            </li>
                            <li class="modal__price-item js-second-priceItem">
                                <p class="modal__item-text js-second-price">
                                    <svg class="modal__icon-code" width="30">
                                            <use href="./images/svg/sprite.svg#ic_ticket"></use>
                                        </svg>
                                    <span class="js-price-text">Standart 300-500 UAH</span>
                                </p>
                                <a class="modal__list-btn" href="#" target="_blanc">BUY TICKETS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a class="moreinfo-link" target="_blank" href="https://www.google.com/search?q=Sum+41+Simple+Plan+Warsaw+2022-10-03">MORE ABOUT THIS
            EVENT</a>
