<div class="container">
  <ul class="pagination js-pagination">
    <li class="pagination__item">
      <button class="pagination__btn">1</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn">2</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn">3</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn">4</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn">5</button>
    </li>
  </ul>
</div>
