<div class="container pagination">
  <ul class="pagination__list js-pagination">
    <li class="pagination__item">
      <button class="pagination__btn">1</button>
    </li>
    <li class="pagination__item js-current-btn">
      <button class="pagination__btn">2</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn">3</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn">4</button>
    </li>
    <li class="pagination__item">
      <button class="pagination__btn">30</button>
    </li>
  </ul>
</div>
