<div class="container">
  <form class="search__form" action="">
    <label class="search__label input__icon--search">
      <input
        class="search__input"
        type="text"
        name="search"
        placeholder="Start searching"
      />
    </label>

    <label class="search__label input__icon--arrow">
      <!-- Choose country -->
      <select
        class="search__select search__input"
        name="countries"
        id="countries"
        size="0"
      >
        <option class="search__option" value="choose">Choose country</option>
        <option class="search__option" value="country1">nameCountry1</option>
        <option class="search__option" value="country2">nameCountry2</option>
        <option class="search__option" value="country3">nameCountry3</option>
      </select>
    </label>
  </form>
</div>
