.eventcards {
  margin-top: 56px;

  @include mq(tablet) {
    margin-top: 80px;
  }

  @include mq(desktop) {
    margin-top: 120px;
  }
}

.eventcards__list {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq(tablet) {
    gap: 28px;
  }
}

.eventcards__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  padding-right: 10px;
  width: 130px;

  @include mq(tablet) {
    width: 152px;
    padding-top: 10px;
    padding-right: 11px;
  }

  @include mq(desktop) {
    width: 288px;
    padding-top: 19px;
    padding-right: 21px;
  }
}

.eventcards__img {
  width: 120px;
  height: 151px;
  border-radius: 50px 0px;
  @include mq(tablet) {
    width: 141px;
    height: 178px;
  }
  @include mq(desktop) {
    width: 255px;
    height: 337px;
  }
}

.eventcards__decoration {
  position: absolute;
  width: 102px;
  height: 95px;
  right: 0px;
  top: 0px;
  border: 1px solid rgba(220, 86, 197, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px 0px;

  @include mq(tablet) {
    width: 120px;
    height: 112px;
  }
  @include mq(desktop) {
    width: 227px;
    height: 212px;
  }
}

.eventcards__content {
  margin-top: 8px;
  text-align: center;
}

.eventcards__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: var(--accent-color);

  @include mq(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.eventcards__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--main-text-color);

  @include mq(tablet) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.eventcards__location {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: var(--main-text-color);

  @include mq(tablet) {
    line-height: 1.21;
  }
}

// .eventcards__item:after {
//   content: '';
//   position: absolute;
//   z-index: 10;
//   border: 1px solid rgba(220, 86, 197, 0.3);
//   box-sizing: border-box;
//   border-radius: 50px 0;
//   pointer-events: none;
// }
