.header__container {
  padding-top: 20px;
  background-image: url('../images/header-logo/logo-bg-mobile.png');
  background-repeat: no-repeat;

  @include mq(tablet) {
    display: flex;
    padding-top: 25px;
    background-image: url('../images/header-logo/logo-bg-tablet.png');
  }

  @include mq(desktop) {
    padding-top: 40px;
    background-image: url('../images/header-logo/logo-bg-desktop.png');
  }
}

.header__logo {
  max-width: 100%;
  display: block;

  @include mq(tablet) {
    margin-right: 52px;
  }

  @include mq(desktop) {
    margin-right: 183px;
  }
}

.header__main-title {
  margin-top: 40px;
  margin-bottom: 10px;

  text-align: center;
  font-weight: 900;
  line-height: 1.2;

  color: var(--accent-color);
  font-size: 18px;

  @include mq(tablet) {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 400px;

    font-size: 30px;
  }

  @include mq(desktop) {
    margin-top: 0;
    margin-bottom: 48px;
    width: 608px;

    font-size: 50px;
  }
}

.neon-title {
  text-shadow: 0.1vw 0vw 0.25vw #e297d6, 0.2vw 0vw 0.25vw #e297d6,
    0.4vw 0vw 0.25vw #e297d6, 0.1vw 0vw 0vw #dc56c5, 0.2vw 0vw 0vw #dc56c5,
    0.4vw 0vw 0vw #dc56c5, 0.1vw 0vw 0.1vw #dc56c5, 0.2vw 0vw 0.1vw #dc56c5,
    0.4vw 0vw 0.1vw #dc56c5, 0.1vw 0vw 2vw #dc56c5, 0.2vw 0vw 2vw #dc56c5,
    0.4vw 0vw 2vw #dc56c5, 0.1vw 0vw 1vw #d81ab8, 0.2vw 0vw 1vw #d81ab8,
    0.4vw 0vw 5vw #d81ab8, 0.1vw 0vw 5vw #d81ab8, 0.2vw 0vw 20vw #d81ab8,
    0.4vw 0vw 10vw #d81ab8, 0.1vw 0vw 10vw #d81ab8, 0.2vw 0vw 30vw #d81ab8,
    0.4vw 0vw 10vw #d81ab8;
}
